__pycache__
*.py[cod]
vendor/

# Build

.firefly.qrc
firefly.spec
dist
build

# Settings

settings.json
ffdata.*
templates/

# Other

.vscode/
.mypy_cache/
_res/
templates/*.xml
mpv-1.dll
poetry.lock
linux/
firefly.dist-info
