QMainWindow,
QDialog,
QToolBar,
QMenuBar,
QWidget,
QToolTip {
  background-color: #19161f;
  color: #d7d4d5; }

QStatusBar,
QHeaderView {
  background-color: #1f1e26;
  color: #d7d4d5; }

QToolBar {
  background-color: #1f1e26;
  spacing: 6px;
  border-radius: 8px;
  padding-top: 3px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
  min-height: 38px;
  max-height: 38px;
  margin-top: 6px;
  margin-bottom: 6px; }

QToolBar::separator {
  width: 10px;
  color: red; }

QToolTip {
  border: 1px solid #0ed3fe;
  padding: 3px;
  line-height: 150%; }

/* MENU */
QMenu {
  border: 1px solid #302c3a; }

QMenuBar {
  background-color: #19161f;
  border-bottom: 1px solid #302c3a; }

QMenuBar::item, QMenu::item {
  padding: 8px 12px;
  background-color: transparent; }
  QMenuBar::item:!enabled, QMenu::item:!enabled {
    color: #646464; }
  QMenuBar::item:selected, QMenu::item:selected {
    background-color: #2e2a38;
    color: white; }

QMenu::separator {
  height: 1px;
  margin-top: 5px;
  margin-top: 5px;
  background-color: #302c3a; }

/* TABLES */
QTableView {
  border: 0;
  background-color: #1f1e26;
  alternate-background-color: #24202e;
  selection-background-color: #3a3644;
  color: #d7d4d5; }

QTableView::item:focus {
  background-color: #3a3644; }

QHeaderView::section {
  background-color: #19161f;
  color: #d7d4d5;
  font-weight: bold;
  padding: 3px 5px;
  border-top: 1px solid #2e2a38;
  border-right: 1px solid #2e2a38;
  border-bottom: 1px solid #2e2a38;
  border-bottom: 0; }

QTableCornerButton::section {
  background-color: #24202e; }

/* TABS */
QTabWidget::pane {
  border: none; }

QTabBar::close-button {
  image: url(images/cancel-sm.png); }

QTabBar::tab {
  min-width: 120px;
  min-height: 30px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 8px;
  padding-right: 8px;
  background-color: #1f1e26;
  border: 0; }

QTabBar::tab:selected {
  background-color: #302c3a;
  border: none; }

QLineEdit,
QComboBox,
QPushButton,
QToolButton,
QTextEdit,
QSpinBox {
  background-color: #2e2a38;
  border: 1px solid #302c3a;
  border-radius: 4px;
  padding-left: 5px;
  padding-right: 5px;
  min-height: 30px; }
  QLineEdit:focus,
  QComboBox:focus,
  QPushButton:focus,
  QToolButton:focus,
  QTextEdit:focus,
  QSpinBox:focus {
    border: 1px solid #0ed3fe; }
  QLineEdit:!enabled,
  QComboBox:!enabled,
  QPushButton:!enabled,
  QToolButton:!enabled,
  QTextEdit:!enabled,
  QSpinBox:!enabled {
    color: #646464; }
  QLineEdit:not(QTextEdit),
  QComboBox:not(QTextEdit),
  QPushButton:not(QTextEdit),
  QToolButton:not(QTextEdit),
  QTextEdit:not(QTextEdit),
  QSpinBox:not(QTextEdit) {
    max-height: 30px; }

QTextEdit {
  min-height: 150px; }

QPushButton:checked, QToolButton:checked {
  border: 1px solid #0ed3fe; }

QPushButton:hover, QToolButton:hover {
  background-color: #3a3644; }

QPushButton:pressed, QToolButton:pressed {
  border: #0ed3fe; }

QToolButton[popupMode="1"] {
  padding-right: 20px; }

QToolButton::menu-button {
  border-left: 1px solid #1f1e26;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  width: 16px; }

.ItemButton {
  border: none; }
  .ItemButton:pressed {
    border: none !important; }

QCheckBox {
  color: #d7d4d5; }
  QCheckBox::indicator {
    border: 1px solid #302c3a;
    width: 30px;
    height: 30px; }
    QCheckBox::indicator:checked {
      image: url(images/accept.png); }

QSpinBox:up-button {
  padding-right: 2px;
  image: url(images/smallarrow-up.png); }

QSpinBox:down-button {
  padding-right: 2px;
  image: url(images/smallarrow-down.png); }

/* Combo box*/
QComboBox::drop-down {
  border: 0px; }

QComboBox::down-arrow {
  image: url(images/smallarrow-down.png);
  width: 16px;
  height: 16px; }

QComboBox QAbstractItemView {
  border: 1px solid #0ed3fe;
  padding: 5px; }

QComboBox QAbstractItemView::item, QComboBox:item {
  background-color: #24202e;
  color: #d7d4d5; }

QComboBox QAbstractItemView::item:selected, QComboBox:item:selected {
  background-color: #19161f;
  color: #0ed3fe; }

QProgressBar {
  background: #19161f;
  border: 0;
  border-radius: 0;
  max-height: 8px;
  padding: 0;
  margin: 4px; }
  QProgressBar::chunk {
    background: #0ed3fe; }

QSlider::groove:horizontal {
  background: #19161f;
  height: 16px;
  margin: 0 0 0 0; }

QSlider::handle:horizontal {
  background: gray;
  height: 15px;
  width: 15px; }

.FireflyTimecode,
.TimecodeWindow {
  font: 12px monospace;
  font-weight: bold;
  min-width: 88px;
  max-width: 88px;
  text-align: center; }

.ChannelDisplay {
  background-color: transparent;
  color: #d7d4d5;
  margin-right: 10px;
  font: 16px; }

.ActionButton {
  min-height: 35px;
  min-width: 300px; }

/* SCROLL BARS */
QScrollBar {
  background: #24202e; }
  QScrollBar:horizontal {
    height: 16px;
    padding-left: 24px;
    padding-right: 24px; }
  QScrollBar:vertical {
    background: #24202e;
    width: 16px;
    padding-top: 24px;
    padding-bottom: 24px; }

QScrollBar::add-page:horizontal,
QScrollBar::sub-page:horizontal {
  background: none; }

QScrollBar::add-page:vertical,
QScrollBar::sub-page:vertical {
  background: none; }

QScrollBar::handle:horizontal {
  background: #2e2a38;
  min-width: 64px; }

QScrollBar::handle:vertical {
  background: #2e2a38;
  min-height: 64px; }

QScrollBar::add-line:horizontal,
QScrollBar::add-line:vertical {
  background: none; }

QScrollBar::sub-line:horizontal,
QScrollBar::sub-line:vertical {
  background: none; }
