$color-surface-01: #19161f;
$color-surface-02: #1f1e26;
$color-surface-03: #24202e;
$color-surface-04: #2e2a38;
$color-surface-05: #302c3a;
$color-surface-06: #3a3644;
$color-text: #d7d4d5;
$color-text-hl: #fbfbfb;
$color-text-dim: #ababab;
$color-cyan: #0ed3fe;
$color-blue: #4600ff;
$color-magenta: #b000ff;
$color-violet: #885bff;
$color-yellow: #ec9e00;
$color-red: #ff5f5f;
$color-green: #5fff5f;


$color-bkg-primary : $color-surface-03;
$color-bkg-secondary : $color-surface-01;
$color-border: $color-surface-05;
$color-highlight: $color-cyan;

QMainWindow, 
QDialog,
QToolBar,
QMenuBar,
QWidget,
QToolTip {
    background-color: $color-surface-01;
    color: $color-text;
}

QStatusBar,
QHeaderView {
    background-color: $color-surface-02;
    color: $color-text;
}

QToolBar {
    background-color: $color-surface-02;
    spacing: 6px;
    border-radius: 8px;
    padding-top: 3px;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
    min-height: 38px;
    max-height: 38px;
    margin-top: 6px;
    margin-bottom: 6px;
}


QToolBar::separator{
    width: 10px;
    color: red;
}

QToolTip {
    border: 1px solid $color-highlight;
    padding: 3px;
    line-height: 150%;
}


/* MENU */

QMenu{
    border: 1px solid $color-border;
}

QMenuBar {
  background-color: $color-bkg-secondary;
  border-bottom: 1px solid $color-border;
}

QMenuBar::item, QMenu::item {
    padding: 8px 12px;
    background-color: transparent;

    &:!enabled {
        color: #646464;
    }

    &:selected{
      background-color: $color-surface-04;
      color: white;
    }
}


QMenu::separator {
    height: 1px;
    margin-top: 5px;
    margin-top: 5px;
    background-color: $color-surface-05;
}

/* TABLES */

QTableView {
    border: 0;
    background-color: $color-surface-02;
    alternate-background-color: $color-surface-03;
    selection-background-color: $color-surface-06;
    color: $color-text;
}

QTableView::item:focus {
  background-color: $color-surface-06;
}


QHeaderView::section {
    background-color: $color-bkg-secondary;
    color: $color-text;
    font-weight: bold;
    padding: 3px 5px;
    border-top: 1px solid $color-surface-04;
    border-right: 1px solid $color-surface-04;
    border-bottom: 1px solid $color-surface-04;
    border-bottom: 0;
}


QTableCornerButton::section{
    background-color: $color-surface-03;
}

/* TABS */


QTabWidget::pane {
  //border-top: 1px solid $color-border;
  border: none;
}

QTabBar::close-button {
  image: url(images/cancel-sm.png);
}

QTabBar::tab {
  min-width: 120px;
  min-height : 30px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 8px;
  padding-right: 8px;
  background-color: $color-surface-02;
  border: 0
  //border: 1px solid $color-border;
  //border-bottom: 0;
}

QTabBar::tab:selected {
  background-color: $color-border;
  border: none;
  // border: 1px solid $color-border;
  // border-bottom: 0;
}


//
// INPUT WIDGETS
//

QLineEdit,
QComboBox,
QPushButton,
QToolButton,
QTextEdit,
QSpinBox {
  background-color: $color-surface-04;
  border: 1px solid $color-border;
  border-radius: 4px;
  padding-left: 5px;
  padding-right: 5px;
  min-height: 30px;

  &:focus {
    border: 1px solid $color-highlight;
  }

  &:!enabled {
    color: #646464;
  }

  &:not(QTextEdit) {
    max-height: 30px;
  }
}

QTextEdit{
  min-height: 150px;
}

// BUTTONS

QPushButton, QToolButton{
  &:checked{
    border: 1px solid $color-highlight;
  }

  &:hover{
    background-color: $color-surface-06;
  }

  &:pressed{
    border: $color-highlight;
  }
}

QToolButton[popupMode="1"] {
  padding-right: 20px; 
}

QToolButton::menu-button {
  border-left: 1px solid $color-surface-02;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  width: 16px;
}

.ItemButton {
  border: none ;
  &:pressed{
    border: none !important;
  }
}

// Checkboxes

QCheckBox {
  color: $color-text;
  &::indicator{
    border: 1px solid $color-border;
    width: 30px;
    height: 30px;
    &:checked{
      image: url(images/accept.png);
    }
  }
}


QSpinBox:up-button{
    padding-right: 2px;
    image: url(images/smallarrow-up.png);
}

QSpinBox:down-button{
    padding-right: 2px;
    image: url(images/smallarrow-down.png);
}



/* Combo box*/

QComboBox::drop-down {
  border: 0px;
}

QComboBox::down-arrow {
  image: url(images/smallarrow-down.png);
  width: 16px;
  height: 16px;
}

QComboBox QAbstractItemView {
    border: 1px solid $color-highlight;
	padding : 5px;
}

QComboBox QAbstractItemView::item, QComboBox:item {
    background-color: $color-bkg-primary;
    color: $color-text;
}

QComboBox QAbstractItemView::item:selected, QComboBox:item:selected {
  background-color: $color-bkg-secondary;
  color: $color-highlight;
}



QProgressBar {
  background: $color-bkg-secondary;
  border: 0;
  border-radius: 0;
  max-height: 8px;
  padding: 0;
  margin: 4px;

  &::chunk {
    background: $color-highlight;
  }
}


QSlider::groove:horizontal {
  background: $color-bkg-secondary;
  height: 16px;
  margin: 0 0 0 0;
}

QSlider::handle:horizontal {
  background: gray;
  height: 15px;
  width: 15px;
}

.FireflyTimecode,
.TimecodeWindow {
  font: 12px monospace;
  font-weight: bold;
  min-width : 88px;
  max-width : 88px;
  text-align: center;
}

.ChannelDisplay {
  background-color: transparent;
  color: $color-text;
  margin-right: 10px;
  font: 16px;
}

.ActionButton {
  min-height: 35px;
  min-width: 300px;
}

/* SCROLL BARS */

QScrollBar{
  background: $color-bkg-primary;
  &:horizontal {
    height: 16px;
    padding-left: 24px;
    padding-right: 24px;
  }

  &:vertical {
    background: $color-bkg-primary;
    width: 16px;
    padding-top: 24px;
    padding-bottom: 24px;
  }
}


QScrollBar::add-page:horizontal,
QScrollBar::sub-page:horizontal {
  background: none;
}

QScrollBar::add-page:vertical,
QScrollBar::sub-page:vertical {
  background: none;
}

QScrollBar::handle:horizontal {
  background: $color-surface-04;
  min-width: 64px;
}

QScrollBar::handle:vertical {
  background: $color-surface-04;
  min-height: 64px;
}

QScrollBar::add-line:horizontal,
QScrollBar::add-line:vertical {
	background: none;
}

QScrollBar::sub-line:horizontal,
QScrollBar::sub-line:vertical {
	background: none;
}
